<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codecacher.wormhole">

    <application>
        <receiver android:name=".ChannelReceivera" />
        <receiver
            android:name=".ChannelReceiverb"
            android:process=":b" />
        <service
            android:name=".ChannelServiceb"
            android:process=":b" />
    </application>
</manifest>


